body{
    background-color: #085068;
    color: #ffffff;
}

nav {
    background-color: #085068;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px #00bfff;
}

nav a {
    color: #ffffff; /* Blanco para los enlaces */
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: 0.3s;
}

nav a:hover {
    color: #00bfff; /* El azul claro para hover */
}


