

/* Estilo para el contenedor de im치genes */
.imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Espacio entre las im치genes */
    justify-content: center; /* Centra el grid */
    margin: 20px; /* Margen alrededor del contenedor de im치genes */
}

/* Estilo para las im치genes */
.imagen {
    position: relative;
}

.imagen img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: opacity 0.3s ease; 
}

/* Contenedor de texto superpuesto */
.imagen .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar el texto solo al pasar el cursor sobre la imagen individual */
.imagen:hover .overlay {
    opacity: 1;
}


