
#imgLogo img{

    width: 30%;
    height: 10%;
}
/*Ideas
hacer un menu para que puedas cambiar a diferentes colores
la pagágina web
*/
#tituloQnsSomos{
    color: rgb(152, 152, 255);
    font-family: cursive;

}