#quedadas {
    max-width: 800px;
    margin: 40px 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.526);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    
}
#quedadas p {

    margin-left: 25%;

}

#quedadas img {

    width: 100%; 
    border-radius: 500px;
    max-width: 300px; 

}
#formulario {
    max-width: 400px;
    margin-left: 10%;
    
    background-color: rgba(255, 255, 255, 0.526);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    
}