/* Estilos para el contenedor principal */
main {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 0;
    
    width: 100%;
    margin: 0;
}
.video-section {
    text-align: center; /* Centra el texto y el video */
    margin: 20px 0; /* Espacio superior e inferior */
    width: calc(100% - 220px); /* Ancho que resta el espacio de la barra lateral */
    margin-left: 5%;
}

/* Estilo del título de la sección */
.video-section h2 {
    font-size: 2em; /* Tamaño de fuente más grande para el título */
    margin-bottom: 15px; /* Espacio debajo del título */
    color: #258eff; /* Color que coincide con el encabezado */
}

/* Estilo del video */
.video {
    width: 100%; /* Ancho completo */
    max-width: auto; 
    height: 90; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto 3D */
    transition: transform 0.3s; /* Transición suave para el efecto hover */
}

/* Efecto hover para el video */
.video:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

/* Estilos para la barra lateral */
.sidebar {
    float: left;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: sticky;
    margin-top: 0px;
    height: 700px;
    margin-left: 0;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #ccc;
}

/* Estilos para la galería de imágenes */
section {
    display: flex;
    width: 100%;
    height: 450px;
    margin-left: 20px; /* Espacio entre la galería y la barra lateral */
    float: left;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 1s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.language-selector .flag {
    width: 50px; /* Tamaño de las imágenes */
    height: 50px;
    border-radius: 50%; /* Hace las imágenes redondas */
    cursor: pointer; /* Muestra un cursor de mano para indicar interactividad */
    transition: transform 0.3s ease; /* Suaviza el efecto de hover */
}

.language-selector .flag:hover {
    transform: scale(1.1); /* Agranda ligeramente la imagen al pasar el ratón */
}


