/* Estilos generales del cuerpo (body) */
body {
    background: linear-gradient(to top, #ffffff, #ff0404);
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 15px;
}

/* Contenedor principal (page) */
#page {
    width: 1300px;
}
@media (max-width: 1024px) {
  
    /* Estilo para el div con id="page" */
    #page {
      width: 90%;
      min-width: 320px;
    }
  
    /* Estilo para el header */
    header {
      font-size: 0.7em;
    }
  
    /* Estilo para los elementos <li> dentro del menú de navegación */
    nav li {
      margin-top: 0%;
      margin-left: 8%;
      margin-right: 8%;
      margin-bottom: 2%;
    }
}

@media (max-width: 700px){
    nav li{
        margin: 0px;
        margin-top: 8%;
        margin-left: 1%;
        margin-right: 1%;
    }

}

@media (max-width: 475px){

}

/* Estilos para el encabezado (header) */
header {
    display: flex;
    background: linear-gradient(to top, #79b3ff, #005fec);
    border-bottom: 7px solid black;
    padding: 10px;
    color: white;
    border-radius: 20px 20px 0 0;
    font-family: 'Luckiest Guy', cursive;
}

/* Estilos para el título en el encabezado (h1) */
header h1 {
    margin-left: 40px;
}

/* Estilos para la imagen en el encabezado */
header img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

/* Estilos para la barra de navegación (nav) */
nav {
    background: linear-gradient(to top, #f8ad4b, #ffd000);
    font-family: 'Luckiest Guy', cursive;
}
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del elemento padre, si lo deseas */
}

a:hover {
    text-decoration: none; /* También elimina el subrayado al pasar el ratón */
}
/* Contenedor para los elementos dentro de la barra de navegación */
.contenidoNav {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

/* Estilos para los párrafos en la navegación */
.contenidoNav p {
    color: azure;
    font-size: 25px;
    text-shadow: 2px 2px 0px #f06529; /* Sombra normal */
    position: relative; /* Necesario para el menú desplegable */
}

/* Estilos cuando el ratón pasa sobre el enlace */
.contenidoNav p:hover {
    text-shadow: 0px 0px 5px #ff7e42; /* Sombra en hover */
    transition: 0.5s;
}

/* Estilos para el menú desplegable (oculto por defecto) */
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    background-color: #e34c26;
    width: 200px;
    z-index: 1;
    top: 260px;
    left: 500px;
}
.menu-videos:hover + .submenu,
.submenu:hover {
    display: block;
}
/* Estilos para los elementos de la lista dentro del menú */
.submenu li {
    background-color: #e34c26;
}

.submenu li:nth-child(odd) {
    background-color: #f06529; /* Para los elementos impares */
}

/* Estilos al pasar el ratón sobre los elementos del menú */
.submenu li:hover {
    background-color: #ff7e42;
}

/* Mostrar el menú al pasar el ratón por la opción Videos */
.menu-videos:hover + .submenu {
    display: block;
}

/* Estilos para los enlaces dentro del menú */
.submenu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Estilos cuando el ratón pasa sobre el enlace */
.contenidoNav p:hover {
    text-shadow: 2px 2px 0px red;
    transition: 0.5s;
}


/* Sección principal (main) */
main {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

/* Estilos para los artículos (article) */
article {
    text-align: center;
    font-size: 18px;
    margin: 15px;
    padding: 25px;
    background-color: white;
    border: solid;
    border-image: url('../curso/imgs/movil.png') 30 stretch;
    border-width: 70px 20px 50px 20px; 
    border-image-slice: 70 20 50 20; 
    width: 300px; 
    border-radius: 100px; 
    position: relative; /* Necesario para que la chincheta se posicione relativa al artículo */
}

/* Estilos para los encabezados dentro de los artículos (article h3) */
article h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 6px 4px rgba(0, 0, 0, 0.3); /* Sombra en el texto */
    letter-spacing: 10px; /* Separación entre las letras */
}

/* Estilos para el pie de página (footer) */
footer {
    border-top: 10px solid black;
    color: white;
    height: 50px;
    background: linear-gradient(to bottom, #79b3ff, #005fec);
    text-align: center;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
}

/* Estilos para los párrafos dentro del pie de página (footer p) */
footer p {
    margin-top: 0;
}

/* Aplicar un degradado radial a la imagen del artículo de Javascript */
article:nth-of-type(3) img {
    padding: 10px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 95, 236, 1));
    border-radius: 50%; 
}

/* Añadir las chinchetas directamente en los artículos mediante HTML */
.chincheta {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translateX(-50%);
}

/* Ajustar la posición de cada chincheta para los distintos artículos */
article:nth-of-type(1) .chincheta {
    margin-top: -103px;
    margin-left: 254px;
    animation: mueveChincheta1 1s ease-in-out forwards;
}

article:nth-of-type(2) .chincheta {
    
    margin-top: -103px;
    margin-left: 135px;
    
}

article:nth-of-type(3) .chincheta {
    background-image : none;
    margin-top: -110px;
    margin-left: 27px;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

header img{
    animation: rotar 5s infinite;
}

@keyframes mueveChincheta1 {
    0% {
        left: 0px;
    }
    100% {
        left: 150px; /*HE cambiado los pixeles para que quedara mejor*/
    }
}

@keyframes animArticle1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}
.animMueveChincheta1 {
    
    animation: mueveChincheta1 1s ease-in-out forwards;
}

.article1 {
    animation: animArticle1 0.5s ease-in-out forwards;
}

.chincheta2 {
    animation: mueveChincheta2 1s ease-in-out forwards;
}

@keyframes mueveChincheta2 {
    0% {
        left: 0px;
    }
    100% {
        left: 120px;
    }
}

@keyframes mueveChincheta3 {
    0% {
        left: 0px;
    }
    100% {
        left: 30px; 
    }
}

.chincheta3 {
    animation: mueveChincheta3 1s ease-in-out forwards;
}


@keyframes animArticle3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.article3 {
    animation: animArticle3 0.5s ease-in-out forwards;
}


@media (max-width: 475px) {
    nav ul {
        display: none; /* Ocultar el menú por defecto */
    }

    nav a.hamburguesa {
        display: block; 
        position: absolute; 
        top: 10px; 
        right: 10px; 
        font-size: 30px; 
        color: #000; 
        cursor: pointer; 
    }

    nav ul.activo {
        display: block; 
        position: absolute; 
        top: 50px; 
        left: 0; 
        width: 100%; 
        background-color: #f8ad4b; 
    }

    nav ul li {
        text-align: center; 
        padding: 10px 0; 
        border-bottom: 1px solid #ddd; 
    }
}